databases/*
errors/*
sessions/*

updloads/*
private/*.ini

static/fonts/*.pkl
static/uploads/*

views/layout_template.html
databases/*
errors/*
sessions/*

updloads/*
private/*.ini

static/fonts/*.pkl
static/uploads/*

views/layout_template.html

# temporary files
*example.py
.pythonhistory
.sass-cache
*.log
*.pyc
*__.py
__pycache__/*
# temporary files
*example.py
.pythonhistory
.sass-cache
*.log
*.pyc
*__.py
__pycache__/*